.custom-navbar {
  background-color: #1c2130;
}

.custom-navbar .nav-link {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
  font-size: 18px;
  padding: 10px;
  position: relative;
  display: inline-block;
}

.custom-navbar .nav-link:hover{
  color: #028f76;
}

.custom-navbar .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #028f76;
  transition: width 0.3s ease-in-out;
}

.custom-navbar .nav-link:hover::after {
  width: 100%;
}

.navbar-brand img {
  margin-right: 8px;
  width: 50px;
}

.d-inline-block{
  border-radius: 13px;
  width: 60px;
  height: 60px;
  margin-right: 3px;
}

#cadastro{
  margin-left: 1260px;
}

.landing-banner {
  background-image: url(https://d3p3fw3rutb1if.cloudfront.net/photos/0885cba3-b24b-42cc-b4bc-97d0ee94b596);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 60px 0;
  color: white;
}